In [1]:
import pandas as pd
import numpy as np
import os

In [5]:
df = pd.read_csv(os.path.join("data", "US_import_crude_oil_by_company_2019.csv"))
df

,RPT_PERIOD,R_S_NAME,LINE_NUM,PROD_CODE,PROD_NAME,PORT_CODE,PORT_CITY,PORT_STATE,PORT_PADD,GCTRY_CODE,CNTRY_NAME,QUANTITY,SULFUR,APIGRAVITY,PCOMP_RNAM,PCOMP_SITEID,PCOMP_SNAM,PCOMP_STAT,STATE_NAME,PCOMP_PADD
0,Jan-19,ADIRONDACK ENERGY PRODUCTS INC,1,251,Propane/Ngl,704,"MASSENA, NY",NEW YORK,1,260,CANADA,6,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Jan-19,ADIRONDACK ENERGY PRODUCTS INC,2,251,Propane/Ngl,712,"CHAMPL-RS PT, NY",NEW YORK,1,260,CANADA,4,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Jan-19,ADIRONDACK ENERGY PRODUCTS INC,3,251,Propane/Ngl,708,"ALEX BAY, NY",NEW YORK,1,260,CANADA,2,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Jan-19,ADIRONDACK ENERGY PRODUCTS INC,4,251,Propane/Ngl,715,"TROUT RIVER, NY",NEW YORK,1,260,CANADA,2,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Jan-19,AEGEAN BUNKERING USA LLC,1,510,"Residual Fuel, Over 1.00% Sulfur",1101,"PHILADELPHIA, PA",PENNSYLVANIA,1,260,CANADA,105,2.97,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25073,Dec-19,WESTERN STATES ASPHALT LLC,1,931,Asphalt & Road Oil,3004,"BLAINE, WA",WASHINGTON,5,260,CANADA,48,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25074,Dec-19,WESTERN STATES ASPHALT LLC,2,931,Asphalt & Road Oil,3302,"EASTPORT, ID",IDAHO,4,260,CANADA,1,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25075,Dec-19,WHITE MOUNTAIN OIL CO INC,1,251,Propane/Ngl,209,"DERBY LINE, VT",VERMONT,1,260,CANADA,2,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25076,Dec-19,WORLD FUEL SERVICES INC,1,510,"Residual Fuel, Over 1.00% Sulfur",1821,"PORT MANATEE, FL",FLORIDA,1,595,MEXICO,40,3.42,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25077,Dec-19,WORLD FUEL SERVICES INC,2,510,"Residual Fuel, Over 1.00% Sulfur",1821,"PORT MANATEE, FL",FLORIDA,1,720,PERU,10,3.42,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns

Index(['RPT_PERIOD', 'R_S_NAME', 'LINE_NUM', 'PROD_CODE', 'PROD_NAME',
       'PORT_CODE', 'PORT_CITY', 'PORT_STATE', 'PORT_PADD', 'GCTRY_CODE',
       'CNTRY_NAME', 'QUANTITY', 'SULFUR', 'APIGRAVITY', 'PCOMP_RNAM',
       'PCOMP_SITEID', 'PCOMP_SNAM', 'PCOMP_STAT', 'STATE_NAME', 'PCOMP_PADD'],
      dtype='object')

In [15]:
import_df = df[["PROD_NAME", "PORT_CODE", "PORT_CITY", "PORT_STATE", "PORT_PADD", "CNTRY_NAME", "QUANTITY"]]
import_df["PROD_NAME"].unique()

array(['Propane/Ngl', 'Residual Fuel, Over 1.00% Sulfur',
       'Lubricants, Total', 'Asphalt & Road Oil', 'Normal Butane/Ngl',
       'Crude Oil', 'Jet Fuel, Kerosene-Type',
       'Jet Fuel, Kerosene-Type (Bonded)', 'Biomass-Based Diesel Fuel',
       'Aviation Gasoline Finished', 'Motor Gas, Conventional, Other',
       'All Other Motor Gas Blending Components',
       'Distillate, 15 ppm Sulfur and under',
       'Special Naphthas (solvents)', 'Petroleum Coke, Marketable',
       'Unfinished Oils, Residuum', 'Propylene',
       'Residual Fuel, Under 0.31% Sulfur',
       'Residual Fuel, 0.31-1.00% Sulfur', 'Isobutane/Ngl',
       'Unfinished Oils, Heavy Gas Oils',
       'MGBC, Reformulated Blendstock for Oxygenate Blending (RBOB)',
       'Wax', 'MGBC, Gasoline Treated as Blendstock (GTAB)',
       'Distillate, > 2000 ppm Sulfur, Other',
       'Petrochemical Feedstocks, Naphtha less than 401 F end-point',
       'Petrochemical Feedstocks, Other Oils Greater than or equal to 401 F end-point',
       'Miscellaneous Products', 'Unfinished Oils, Naphthas & Lighter',
       'Distillate, Greater than 15 ppm to 500 ppm Sulfur (Incl.)',
       'MGBC, Conventional Blendstock for Oxygenate Blending (CBOB)',
       'Methyl Tertiary Butyl Ether (MTBE)',
       'Ethyl Tertiary Butyl Ether (ETBE)', 'Other Renewable Diesel Fuel',
       'Pentanes Plus', 'Distillate, Greater than 500 ppm Sulfur (Incl.)',
       'Butylene', 'Other Hydrocarbons', 'Isobutylene',
       'Unfinished Oils, Kerosene & Light Gas Oils', 'Kerosene',
       'Fuel Ethanol'], dtype=object)

In [20]:
import_df.head()

,PROD_NAME,PORT_CODE,PORT_CITY,PORT_STATE,PORT_PADD,CNTRY_NAME,QUANTITY
21,Crude Oil,901,"BUFF-NIAG FL, NY",NEW YORK,1,CANADA,13
28,Crude Oil,2704,"LOS ANGELES, CA",CALIFORNIA,5,ARGENTINA,227
29,Crude Oil,2704,"LOS ANGELES, CA",CALIFORNIA,5,COLOMBIA,50
30,Crude Oil,2704,"LOS ANGELES, CA",CALIFORNIA,5,ECUADOR,100
31,Crude Oil,2704,"LOS ANGELES, CA",CALIFORNIA,5,ECUADOR,240

In [21]:
import_df=import_df[import_df["PROD_NAME"]=="Crude Oil"]
import_df.groupby(["CNTRY_NAME", "PORT_PADD", "PORT_CITY"]).sum()

                                       PORT_CODE  QUANTITY
CNTRY_NAME PORT_PADD PORT_CITY
ALGERIA    1         CHESTER, PA            1102       644
                     NEWARK, NJ             5015      1992
                     PHILADELPHIA, PA       4404      4125
                     WILMINGTON, DE         1103       251
ANGOLA     1         CHESTER, PA            1102       150
...                                          ...       ...
VENEZUELA  3         LAKE CHARLES, LA      34289      7564
                     NEW ORLEANS, LA        8008      1886
                     PASCAGOULA, MS        43769      9931
                     PORT ARTHUR, TX       14707      3223
           5         EL SEGUNDO, CA         5422       497

[286 rows x 2 columns]

In [ ]:
import_df.groupby(["CNTRY_NAME"]).sum().sort()