In [1]:
import sqlalchemy as sqlalchemy_package
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import relationship
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.declarative import DeferredReflection
from sqlalchemy import *
import pandas as pd
import seaborn as sns
import warnings
import config as creds
from openpyxl import load_workbook
import pickle

sns.set()
warnings.filterwarnings('ignore')
pd.set_option('display.max_colwidth', 40)
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
# Set up a connection to the postgres server
DATABASE_URL = f"postgres://{creds.PGUSER}:{creds.PGPASSWORD}@{creds.PGHOST}:5433/{creds.PGDATABASE}"
engine = sqlalchemy_package.create_engine(DATABASE_URL)

## Define Schema and Tables for Global Usage Table

In [3]:
# Set up a connection to the postgres server
class postgre_sql():
    def __init__(self, dbase = creds.PGDATABASE, dbschema = 'countries'):
        DATABASE_URL = f"postgres://{creds.PGUSER}:{creds.PGPASSWORD}@{creds.PGHOST}:5433/{dbase}"
        engine = sqlalchemy_package.create_engine(DATABASE_URL,
                connect_args={'options': '-csearch_path={}'.format(dbschema)})
        self.engine = engine
    def declare(self):
        # Declare a Base with explicit schema using `automap_base()`
        Base = declarative_base()
        return Base

In [4]:
# Creating objects
countries_db = postgre_sql()
base_db = countries_db.declare()

## Clean, Transform and Normalize Oil Data from BP

In [5]:
# Open the excel file using openpyxl

filepath = (r"..\resources\bp-stats-review-2020-all-data.xlsx")
wb = load_workbook(filename = filepath, read_only=True)
ws_prod = wb["Oil Production - Barrels"]
ws_cons = wb["Oil Consumption - Barrels"]
df_prod = pd.DataFrame(ws_prod.values)
df_cons = pd.DataFrame(ws_cons.values)

### First get clean data for Consumption

In [6]:
# remove unneeded rows from top and bottom
df_cons_hf = df_cons.iloc[2:108,:56]
# Rename the columns
df_cons_hf.columns = df_cons_hf.iloc[0]
df_cons_named = df_cons_hf.rename(columns={'Thousand barrels daily': 'country'})
#Take out top row again
df_cons_named1 = df_cons_named.iloc[1:]

# Remove the 'none' rows
df_removenone = df_cons_named1.loc[~df_cons_named["country"].str.contains("None", na = True)]

# Remove the 'total' rows
df_removetotal = df_removenone.loc[~df_removenone["country"].str.contains("Total", na = True)].reset_index(drop=True)

df_removetotal

2,country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Canada,"1,108.12","1,167.47","1,245.56","1,322.16","1,380.19","1,471.58","1,512.13","1,588.91","1,682.38",...,"2,332.64","2,396.55","2,329.52","2,345.34","2,386.79","2,346.75","2,393.33","2,393.01","2,443.31","2,402.54"
1,Mexico,315.87,333.05,357.31,386.14,410.02,440.74,467.28,523.35,564.18,...,"2,039.74","2,065.14","2,083.00","2,034.16","1,959.69","1,939.29","1,950.18","1,883.23","1,821.23","1,733.35"
2,US,"11,522.19","12,100.35","12,566.88","13,404.55","14,152.99","14,709.91","15,222.76","16,380.81","17,317.93",...,"18,324.38","17,983.22","17,593.72","18,005.84","18,136.22","18,523.68","18,617.64","18,883.34","19,427.64","19,399.96"
3,Argentina,432.37,447.27,459.88,468.99,491.75,447.79,479.60,478.58,482.63,...,581.81,591.29,613.89,657.63,642.84,662.42,650.51,636.87,611.04,599.06
4,Brazil,305.67,334.60,344.54,412.43,456.56,512.72,564.49,648.89,797.46,...,"2,271.41","2,431.73","2,509.39","2,655.47","2,721.19","2,559.26","2,436.21","2,480.68","2,376.58","2,397.53"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Sri Lanka,9.35,9.58,9.81,10.01,10.27,20.60,18.92,20.45,21.27,...,87.03,91.69,95.39,82.03,70.59,89.56,105.18,113.62,114.05,122.62
88,Taiwan,43.86,51.78,61.37,72.86,87.34,104.73,145.16,156.20,199.93,...,"1,043.41",950.45,949.61,981.14,"1,012.64","1,021.24","1,046.14","1,038.45","1,049.58",998.01
89,Thailand,47.56,55.99,61.97,81.13,87.97,102.81,114.39,142.75,151.43,...,"1,104.16","1,166.11","1,224.96","1,266.64","1,270.26","1,329.66","1,364.38","1,407.14","1,432.28","1,453.29"
90,Vietnam,31.35,68.51,100.34,102.08,123.71,128.26,108.50,111.72,109.93,...,332.29,361.38,371.44,397.81,409.08,452.12,470.15,487.39,506.39,528.46
91,Other Asia Pacific,59.76,63.09,67.38,71.15,74.92,78.49,80.63,90.53,89.70,...,308.43,320.10,332.72,356.96,387.79,424.77,436.54,454.15,474.36,506.37

### Repeat for Production

In [7]:
# remove unneeded rows from top and bottom
df_prod_hf = df_prod.iloc[2:72,:56]
# Rename the columns
df_prod_hf.columns = df_prod_hf.iloc[0]
df_prod_named = df_prod_hf.rename(columns={'Thousand barrels daily': 'country'})
#Take out top row again
df_prod_named1 = df_prod_named.iloc[1:]

# Remove the 'none' rows
df_removenone_prod = df_prod_named1.loc[~df_prod_named["country"].str.contains("None", na = True)]

# Remove the 'total' rows
df_removetotal_prod = df_removenone_prod.loc[~df_removenone_prod["country"].str.contains("Total", na = True)].reset_index(drop=True)

## Attempt to normalize the country names

In [8]:
# Transform Countries Data from CSV
countries_df = pd.read_csv('../countries/data/en/countries.csv')
countries =[]
for result in countries_df.itertuples():
    row = {}
    row['country_code'] = result.alpha3.upper()
    row['country'] = result.name
    countries.append(row)
print('List of official names of 206 world countries:\n', [row['country'] for row in countries])

List of official names of 206 world countries:
 ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Congo, Democratic Republic of the', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea (Democratic People's Republic of)", 'Korea, Republic of', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)', 'Moldova, Republic of', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom of Great Britain and Northern Ireland', 'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe']

In [9]:
not_in_list = []
for r in df_removetotal.itertuples():
    if (r[1] not in [row['country'] for row in countries]) and (r[1] not in not_in_list):
        not_in_list.append(r[1])
print('Number of inconsistent records: ', len(not_in_list))
print('\nList of records, which are not consistent with the country list:\n', not_in_list)

Number of inconsistent records:  23

List of records, which are not consistent with the country list:
 ['US', 'Trinidad & Tobago', 'Venezuela', 'Central America', 'Other Caribbean', 'Other South America', 'Czech Republic', 'United Kingdom', 'Other Europe ', 'USSR', 'Other CIS', 'Iran', 'Other Middle East', 'Eastern Africa', 'Middle Africa', 'Western Africa', 'Other Northern Africa', 'Other Southern Africa', 'China Hong Kong SAR', 'South Korea', 'Taiwan', 'Vietnam', 'Other Asia Pacific']

In [10]:
# Import list of countries with codes
df_countrycode = pd.read_csv("../outputs/data_countries.csv")
countries_clean =[]
for result in df_countrycode.itertuples():
    row = {}
    row['country_code'] = result.country_code
    row['country'] = result.country
    countries_clean.append(row)
print('List of country names for code lookup:\n', [row['country'] for row in countries])

List of country names for code lookup:
 ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Congo, Democratic Republic of the', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea (Democratic People's Republic of)", 'Korea, Republic of', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)', 'Moldova, Republic of', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom of Great Britain and Northern Ireland', 'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe']

In [11]:
not_in_list2 = []
for r in df_removetotal.itertuples():
    if (r[1] not in [row['country'] for row in countries_clean]) and (r[1] not in not_in_list):
        not_in_list2.append(r[1])
print('Number of inconsistent records: ', len(not_in_list))
print('\nList of records, which are not consistent with the country list:\n', not_in_list)

Number of inconsistent records:  23

List of records, which are not consistent with the country list:
 ['US', 'Trinidad & Tobago', 'Venezuela', 'Central America', 'Other Caribbean', 'Other South America', 'Czech Republic', 'United Kingdom', 'Other Europe ', 'USSR', 'Other CIS', 'Iran', 'Other Middle East', 'Eastern Africa', 'Middle Africa', 'Western Africa', 'Other Northern Africa', 'Other Southern Africa', 'China Hong Kong SAR', 'South Korea', 'Taiwan', 'Vietnam', 'Other Asia Pacific']

In [12]:
remove_list = []
rename_dict = {'Aruba': 'Netherlands', 'Bermuda': 'United Kingdom', 'Cote d?Ivoire': 'Ivory Coast', 'Congo-Kinshasa': 'Democratic Republic of the Congo', 'Republic of Congo': 'Democratic Republic of the Congo',
               'Congo-Brazzaville': 'Republic of Congo', 'Cook Islands': 'New Zealand', 'Cabo Verde':'Guinea Bissau', 'Gibraltar':'United Kingdom',
               'Guadeloupe':'France', 'Guinea-Bissau':'Guinea Bissau', 'French Guiana':'France', 'Hawaiian Trade Zone': 'United States of America',
               'Hong Kong':'Hong Kong S.A.R.', 'Macau':'China', 'Maldives':'United Kingdom', 'North Macedonia':'Macedonia', 'Burma':'Myanmar',
               'Montserrat':'United Kingdom', 'Martinique':'France', 'Netherlands Antilles':'Netherlands', 'Nauru':'Australia', 
               'Palestinian Territories':'Palestine','Reunion':'France', 'Serbia':'Republic of Serbia', 'Eswatini':'Swaziland',
               'Seychelles':'United Kingdom', 'Turks and Caicos Islands':'United Kingdom', 'Timor-Leste':'United Kingdom',
               'Tanzania':'United Republic of Tanzania', 'U.S. Virgin Islands':'United States Virgin Islands', 'United States':'United States of America', 'US': 'United States of America',
               'U.S. Pacific Islands':'United States of America', 'Saint Vincent/Grenadines':'Saint Vincent and the Grenadines', 'British Virgin Islands':'United Kingdom',
               'Wake Island':'United States of America', 'Trinidad & Tobago': 'Trinidad and Tobago', 'Russian Federation': 'Russia', 'China Hong Kong SAR': 'Hong Kong S.A.R.',
               'USSR': 'Russia'}
norm_countries = pickle.load(open('../outputs/norm_countries.pkl', 'rb'))

In [13]:
# new_df = pd.DataFrame(columns = df_removetotal.columns)
# new_df

# newrow = pd.DataFrame(df_removetotal.loc[1])
# # newrow

# pd.merge(new_df, newrow, how="outer").merge()

# newrow2 = pd.DataFrame(df_removetotal.loc[2:3])
# newrow2

In [14]:
# Cleaning records table using dataframes instead of lists
def clean_dataframe(dataframe, rename_dict=rename_dict):
    new_df = pd.DataFrame(columns = dataframe.columns)
    for row in dataframe.itertuples(index=False):
        country = row[0]
        if country in rename_dict.keys():
            country = rename_dict[row[0]]
            newrow = pd.DataFrame([(country, row[1], row[2], row[3], row[4], row[5], row[6],
                                    row[7], row[8], row[9], row[10], row[11], row[12], row[13], row[14],
                                    row[15], row[16], row[17], row[18], row[19], row[20], row[21], row[22],
                                    row[23], row[24], row[25], row[26], row[27], row[28], row[29], row[30],
                                    row[31], row[32], row[33], row[34], row[35], row[36], row[37], row[38], row[39],
                                    row[40], row[41], row[42], row[43], row[44], row[45], row[46], row[47],
                                    row[48], row[49], row[50], row[51], row[52], row[53], row[54],row[55])], columns = dataframe.columns)
        else:
            newrow = pd.DataFrame([row], columns = dataframe.columns)
        new_df = pd.concat([new_df, newrow])
    return new_df

# Normalize Data Country_Code, using dataframes instead of lists
def norm_dataframe(data_list):
    new_df = pd.DataFrame(columns = dataframe.columns)
    for record in dataframe.itertuples(index=False):
        country = row[0]
        for row in norm_countries:
            if record['code'] == row['country']:
                record['code'] = row['country_code']
    return data_list

In [15]:
df_cons_clean = clean_dataframe(df_removetotal).reset_index(drop = True)
df_prod_clean = clean_dataframe(df_removetotal_prod).reset_index(drop = True)

df_prod_clean

2,country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Canada,920,"1,012.00",1106,1194,1306,1473,1582,1829,"2,114.00",...,"3,456.81","3,636.74","3,859.87","4,127.94","4,418.06","4,572.27","4,655.48","5,037.33","5,500.68","5,650.77"
1,Mexico,362.00,370.00,411,439,461.00,487,486,506,525.00,...,"2,959.37","2,940.31","2,911.10","2,874.75","2,784.20","2,586.54","2,455.80","2,224.15","2,068.37","1,918.14"
2,United States of America,"9,014.15","9,579.24","10,219.25","10,599.74","10,827.67","11,296.85","11,155.78","11,184.90","10,945.95",...,"7,558.37","7,882.73","8,926.46","10,098.68","11,801.45","12,781.00","12,348.54","13,134.85","15,359.94","17,044.60"
3,Argentina,275.67,292.86,318.63,348.16,361.53,399.46,431.54,444.12,433.64,...,711.84,667.24,656.66,644.37,637.59,646.36,609.63,590.06,591.32,620.41
4,Brazil,96.05,117.05,147.05,161.05,176.05,166.68,174.85,171.19,173.99,...,"2,125.05","2,173.05","2,131.58","2,095.98","2,341.38","2,524.98","2,591.35","2,720.90","2,678.89","2,876.53"
5,Colombia,203,199.00,192,176.00,214,226,224,203,192.00,...,785.86,915.26,944.12,"1,009.87",990.38,"1,005.57",885.90,854.04,865.48,885.83
6,Ecuador,8.00,7.00,6.00,5,4.00,4.00,4.00,78,209.00,...,488.09,500.61,504.62,527.35,556.55,543.09,548.39,531.31,517.24,531.00
7,Peru,66,66.00,74,77,75.00,74.97,63.88,66.60,72.59,...,165.21,158.51,157.23,171.32,175.23,152.95,140.70,136.64,153.63,142.50
8,Trinidad and Tobago,135,153.00,179,191.00,157,140,129,141,166.00,...,145.37,135.87,116.95,115.60,114.12,108.75,96.66,98.69,87.32,82.22
9,Venezuela,3503,"3,402.00",3576,3639,3631,3754,3615,"3,301.00","3,455.00",...,"2,841.57","2,755.02","2,703.73","2,680.36","2,692.49","2,630.86","2,347.00","2,096.04","1,474.70",918.26
10,Other S. & Cent. America,47.13,54.41,78.21,84.57,83.80,63.95,80.38,89.24,89.74,...,144.34,144.43,147.10,151.72,154.70,145.50,134.90,133.02,126.79,117.74
11,Denmark,n/a,n/a,n/a,n/a,n/a,n/a,n/a,2.00,3.00,...,249.46,224.51,204.24,178.18,166.84,157.80,141.70,138.25,115.88,102.96
12,Italy,47.77,39.08,36.56,34.58,33.86,31.90,28.54,25.47,23.36,...,105.94,110.10,111.65,114.13,119.59,113.47,77.78,86.04,97.16,88.75
13,Norway,n/a,n/a,n/a,n/a,n/a,n/a,6,33,32.00,...,"2,132.68","2,033.01","1,911.12","1,832.04","1,880.53","1,940.08","1,990.92","1,965.03","1,845.47","1,730.69"
14,Romania,265.78,271.00,278.84,279.70,281.09,283.78,292.34,298.42,303.93,...,89.54,88.52,83.07,85.98,84.37,83.49,79.31,75.85,74.62,74.82
15,United Kingdom,1.74,1.62,1.84,1.74,1.79,3.52,4.90,7.86,8.83,...,"1,358.16","1,113.79",947.26,865.34,853.55,963.53,"1,014.81","1,005.43","1,091.76","1,117.52"
16,Other Europe,470.47,486.68,506.99,517.64,530.04,528.24,509.31,504.31,509.05,...,341.64,336.27,335.97,344.25,339.21,331.36,313.27,302.87,307.55,298.03
17,Azerbaijan,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,"1,036.72",932.08,882.32,888.38,861.18,850.85,837.52,792.76,795.66,778.59
18,Kazakhstan,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,"1,675.71","1,684.15","1,664.13","1,736.70","1,709.57","1,694.76","1,654.97","1,838.06","1,927.05","1,930.97"
19,Russia,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,"10,378.62","10,533.36","10,655.73","10,806.84","10,860.09","11,006.68","11,268.79","11,254.69","11,438.13","11,539.57"
20,Turkmenistan,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,226.49,234.09,244.20,255.64,263.24,270.84,270.28,271.20,261.04,264.00
21,Russia,"4,857.76",5302,5762,"6,167.10",6566,"7,126.75","7,610.46","8,064.13","8,664.42",...,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a
22,Uzbekistan,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,77.72,76.58,67.73,63.29,61.31,59.46,57.74,60.90,64.01,61.97
23,Other CIS,0,0,0,0,0,0,0,0,0,...,36.20,35.99,35.28,35.09,35.03,35.53,36.21,36.93,37.88,38.97
24,Iran,"1,908.00",2132,2603,"2,840.00",3376,"3,847.66","4,572.42","5,058.96","5,907.38",...,"4,420.62","4,452.40","3,809.76","3,609.23","3,714.14","3,852.76","4,578.22","5,007.34","4,800.70","3,534.57"
25,Iraq,"1,313.00","1,392.00","1,228.00","1,503.00",1521,1549,"1,694.00",1466,2018,...,"2,468.87","2,773.28","3,078.50","3,102.50","3,238.62","3,985.94","4,422.89","4,537.90","4,631.87","4,779.48"
26,Kuwait,"2,371.00",2505,2522,2656,"2,819.00",3036,"3,253.00",3339,3080,...,"2,564.21","2,917.65","3,172.79","3,133.56","3,105.85","3,069.36","3,149.83","3,009.27","3,049.52","2,995.62"
27,Oman,n/a,n/a,57.00,241,327,332,294,282,293,...,864.59,884.92,918.47,941.95,943.48,981.09,"1,004.26",970.57,978.39,970.94
28,Qatar,233,291.00,324,340.00,356,363,430,482.00,570.00,...,"1,630.24","1,824.35","1,927.90","1,990.71","1,974.60","1,932.51","1,938.05","1,881.67","1,900.11","1,882.95"
29,Saudi Arabia,"2,219.30","2,617.80","2,825.00","3,080.90","3,262.20","3,851.10","4,820.90","6,070.30","7,693.20",...,"9,864.83","11,079.23","11,621.79","11,392.93","11,518.82","11,997.94","12,406.05","11,892.20","12,261.33","11,832.32"
30,Syria,n/a,n/a,n/a,21.00,53.00,85,106.00,117.00,111,...,385.00,352.82,171,59.16,33,27,25,24.61,24.05,23.52
31,United Arab Emirates,282.20,360,382.10,496.60,627.80,779.60,"1,059.50","1,202.70","1,532.60",...,"2,936.82","3,300.13","3,424.73","3,566.14","3,602.90","3,897.97","4,037.54","3,909.55","3,912.36","3,997.69"
32,Yemen,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,306.46,220.42,177.84,197.23,152.90,63.31,42.58,71.01,82.67,97.65
33,Other Middle East,61.00,65.76,72.98,77.97,77.96,78.54,76.20,70.93,68.75,...,192.27,201.47,183.84,208.71,214.20,212.99,214.39,208.24,206.89,214.50
34,Algeria,569.94,733.59,842.66,922.50,969.33,"1,053.93",802.59,"1,081.05","1,128.74",...,"1,689.15","1,641.50","1,536.81","1,485.23","1,589.09","1,557.67","1,577.00","1,540.33","1,510.51","1,486.37"
35,Angola,13.30,12.81,10.90,15.18,49.90,102.83,116.14,142.88,165.96,...,"1,812.32","1,670.40","1,734.06","1,737.85","1,701.37","1,795.65","1,744.84","1,671.36","1,519.23","1,417.29"
36,Chad,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,121.92,113.70,100.82,90.64,88.80,110.61,116.52,98.41,115.51,126.88
37,Republic of Congo,1.38,1.20,0.97,0.83,0.47,0.37,0.27,6.50,40.56,...,313.89,300.56,279.97,242.55,253.18,234.21,232.01,269.73,330.47,339.00
38,Egypt,126.01,121.71,108.56,166.38,239.16,319.09,290.85,207.96,164.93,...,724.66,714.34,715.30,709.81,714.45,726.25,691.39,660.20,699.21,685.89
39,Equatorial Guinea,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,306.11,300.64,319.73,282.14,284.40,259.73,223.08,195.28,190.34,180.19
40,Gabon,25.33,28.98,68.99,92.69,100.68,108.61,116.06,125.89,152.15,...,233.20,236.28,221.15,213.40,210.91,213.54,220.66,210.07,193.45,218
41,Libya,1220,"1,508.00","1,733.00","2,599.00","3,108.00",3357,"2,750.00","2,248.00",2211,...,"1,798.96",516.03,"1,538.53","1,047.84",517.73,436.64,411.78,928.95,"1,165.21","1,227.47"
42,Nigeria,274.20,417.60,319.10,141.30,540.30,"1,083.10","1,531.20","1,815.70","2,054.30",...,"2,533.09","2,461.28","2,411.57","2,278.70","2,276.01","2,201.41","1,899.91","1,969.41","2,006.55","2,109.07"
43,South Sudan,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,n/a,n/a,31.04,99.73,155.35,147.74,117.13,122.20,127.65,138.71
44,Sudan,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,462.07,291.00,103.11,117.85,119.60,109.06,103.61,94.62,100.04,102.22
45,Tunisia,n/a,16.24,47.21,67.05,78.10,87.46,86.57,83.56,81.70,...,82.90,76.56,82.15,76.25,71.02,63.63,59.72,48.09,50.18,50.18
46,Other Africa,2.14,2.14,2.06,1.84,1.20,0.91,0.48,0.58,0.87,...,148.81,197.95,196.00,225.38,234.05,272.62,254.89,300.20,299.81,317.27
47,Australia,7,9,21.00,39,45,176.00,315,337,424,...,547.84,482.57,478.63,406.88,435.85,384.28,361.06,348.14,355.73,490.49
48,Brunei,80.00,96.00,104.00,122,124,136.00,129.00,182.00,231.00,...,172.19,165.36,159.03,135.16,126.42,126.75,120.91,113.17,111.50,121.29
49,China,227.13,292.20,278.74,320.24,436.59,615.52,791.44,914.65,"1,076.61",...,"4,076.97","4,074.18","4,155.23","4,216.44","4,245.96","4,308.84","3,999.16","3,845.86","3,797.66","3,835.98"
50,India,62.34,95.87,116.91,120.42,138.70,140.47,148.23,151.69,148.50,...,901.39,936.79,925.71,925.89,905.39,893.46,873.92,884.66,869.33,826.42
51,Indonesia,486.00,474.00,510,599,642.00,854.00,892,"1,081.00",1338,...,"1,003.02",952.28,917.01,882.98,847.04,837.65,875.75,837.97,808.48,781.38
52,Malaysia,1,1,1,4,9,18,69,93,91,...,732.65,659.34,662.63,627.02,648.82,696.32,726.09,718.09,707.18,650.51
53,Thailand,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,393.37,429.01,470.76,465.58,463.90,480.67,488.54,486.34,477.58,477.07
54,Vietnam,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,312.08,315.77,346.72,346.47,325.05,351.57,317.36,284.37,256.67,236.44
55,Other Asia Pacific,35.11,34.09,31.09,35.11,36.43,39.51,42.42,44.30,47.06,...,318.04,302.32,291.34,274.44,296.43,297.78,280.65,273.02,233.34,230.24

## Add the country code to our dataframes

In [16]:
dfcons_final = pd.merge(df_cons_clean, df_countrycode[['country','country_code']], how='left', on = "country", copy = False )
dfprod_final = pd.merge(df_prod_clean, df_countrycode[['country','country_code']], how='left', on = "country", copy = False )
dfprod_final

,country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,country_code
0,Canada,920,"1,012.00",1106,1194,1306,1473,1582,1829,"2,114.00",...,"3,636.74","3,859.87","4,127.94","4,418.06","4,572.27","4,655.48","5,037.33","5,500.68","5,650.77",CAN
1,Mexico,362.00,370.00,411,439,461.00,487,486,506,525.00,...,"2,940.31","2,911.10","2,874.75","2,784.20","2,586.54","2,455.80","2,224.15","2,068.37","1,918.14",MEX
2,United States of America,"9,014.15","9,579.24","10,219.25","10,599.74","10,827.67","11,296.85","11,155.78","11,184.90","10,945.95",...,"7,882.73","8,926.46","10,098.68","11,801.45","12,781.00","12,348.54","13,134.85","15,359.94","17,044.60",USA
3,Argentina,275.67,292.86,318.63,348.16,361.53,399.46,431.54,444.12,433.64,...,667.24,656.66,644.37,637.59,646.36,609.63,590.06,591.32,620.41,ARG
4,Brazil,96.05,117.05,147.05,161.05,176.05,166.68,174.85,171.19,173.99,...,"2,173.05","2,131.58","2,095.98","2,341.38","2,524.98","2,591.35","2,720.90","2,678.89","2,876.53",BRA
5,Colombia,203,199.00,192,176.00,214,226,224,203,192.00,...,915.26,944.12,"1,009.87",990.38,"1,005.57",885.90,854.04,865.48,885.83,COL
6,Ecuador,8.00,7.00,6.00,5,4.00,4.00,4.00,78,209.00,...,500.61,504.62,527.35,556.55,543.09,548.39,531.31,517.24,531.00,ECU
7,Peru,66,66.00,74,77,75.00,74.97,63.88,66.60,72.59,...,158.51,157.23,171.32,175.23,152.95,140.70,136.64,153.63,142.50,PER
8,Trinidad and Tobago,135,153.00,179,191.00,157,140,129,141,166.00,...,135.87,116.95,115.60,114.12,108.75,96.66,98.69,87.32,82.22,TTO
9,Venezuela,3503,"3,402.00",3576,3639,3631,3754,3615,"3,301.00","3,455.00",...,"2,755.02","2,703.73","2,680.36","2,692.49","2,630.86","2,347.00","2,096.04","1,474.70",918.26,VEN
10,Other S. & Cent. America,47.13,54.41,78.21,84.57,83.80,63.95,80.38,89.24,89.74,...,144.43,147.10,151.72,154.70,145.50,134.90,133.02,126.79,117.74,NaN
11,Denmark,n/a,n/a,n/a,n/a,n/a,n/a,n/a,2.00,3.00,...,224.51,204.24,178.18,166.84,157.80,141.70,138.25,115.88,102.96,DNK
12,Italy,47.77,39.08,36.56,34.58,33.86,31.90,28.54,25.47,23.36,...,110.10,111.65,114.13,119.59,113.47,77.78,86.04,97.16,88.75,ITA
13,Norway,n/a,n/a,n/a,n/a,n/a,n/a,6,33,32.00,...,"2,033.01","1,911.12","1,832.04","1,880.53","1,940.08","1,990.92","1,965.03","1,845.47","1,730.69",NOR
14,Romania,265.78,271.00,278.84,279.70,281.09,283.78,292.34,298.42,303.93,...,88.52,83.07,85.98,84.37,83.49,79.31,75.85,74.62,74.82,ROU
15,United Kingdom,1.74,1.62,1.84,1.74,1.79,3.52,4.90,7.86,8.83,...,"1,113.79",947.26,865.34,853.55,963.53,"1,014.81","1,005.43","1,091.76","1,117.52",GBR
16,Other Europe,470.47,486.68,506.99,517.64,530.04,528.24,509.31,504.31,509.05,...,336.27,335.97,344.25,339.21,331.36,313.27,302.87,307.55,298.03,NaN
17,Azerbaijan,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,932.08,882.32,888.38,861.18,850.85,837.52,792.76,795.66,778.59,AZE
18,Kazakhstan,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,"1,684.15","1,664.13","1,736.70","1,709.57","1,694.76","1,654.97","1,838.06","1,927.05","1,930.97",KAZ
19,Russia,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,"10,533.36","10,655.73","10,806.84","10,860.09","11,006.68","11,268.79","11,254.69","11,438.13","11,539.57",RUS
20,Turkmenistan,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,234.09,244.20,255.64,263.24,270.84,270.28,271.20,261.04,264.00,TKM
21,Russia,"4,857.76",5302,5762,"6,167.10",6566,"7,126.75","7,610.46","8,064.13","8,664.42",...,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,RUS
22,Uzbekistan,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,76.58,67.73,63.29,61.31,59.46,57.74,60.90,64.01,61.97,UZB
23,Other CIS,0,0,0,0,0,0,0,0,0,...,35.99,35.28,35.09,35.03,35.53,36.21,36.93,37.88,38.97,NaN
24,Iran,"1,908.00",2132,2603,"2,840.00",3376,"3,847.66","4,572.42","5,058.96","5,907.38",...,"4,452.40","3,809.76","3,609.23","3,714.14","3,852.76","4,578.22","5,007.34","4,800.70","3,534.57",IRN
25,Iraq,"1,313.00","1,392.00","1,228.00","1,503.00",1521,1549,"1,694.00",1466,2018,...,"2,773.28","3,078.50","3,102.50","3,238.62","3,985.94","4,422.89","4,537.90","4,631.87","4,779.48",IRQ
26,Kuwait,"2,371.00",2505,2522,2656,"2,819.00",3036,"3,253.00",3339,3080,...,"2,917.65","3,172.79","3,133.56","3,105.85","3,069.36","3,149.83","3,009.27","3,049.52","2,995.62",KWT
27,Oman,n/a,n/a,57.00,241,327,332,294,282,293,...,884.92,918.47,941.95,943.48,981.09,"1,004.26",970.57,978.39,970.94,OMN
28,Qatar,233,291.00,324,340.00,356,363,430,482.00,570.00,...,"1,824.35","1,927.90","1,990.71","1,974.60","1,932.51","1,938.05","1,881.67","1,900.11","1,882.95",QAT
29,Saudi Arabia,"2,219.30","2,617.80","2,825.00","3,080.90","3,262.20","3,851.10","4,820.90","6,070.30","7,693.20",...,"11,079.23","11,621.79","11,392.93","11,518.82","11,997.94","12,406.05","11,892.20","12,261.33","11,832.32",SAU
30,Syria,n/a,n/a,n/a,21.00,53.00,85,106.00,117.00,111,...,352.82,171,59.16,33,27,25,24.61,24.05,23.52,SYR
31,United Arab Emirates,282.20,360,382.10,496.60,627.80,779.60,"1,059.50","1,202.70","1,532.60",...,"3,300.13","3,424.73","3,566.14","3,602.90","3,897.97","4,037.54","3,909.55","3,912.36","3,997.69",ARE
32,Yemen,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,220.42,177.84,197.23,152.90,63.31,42.58,71.01,82.67,97.65,YEM
33,Other Middle East,61.00,65.76,72.98,77.97,77.96,78.54,76.20,70.93,68.75,...,201.47,183.84,208.71,214.20,212.99,214.39,208.24,206.89,214.50,NaN
34,Algeria,569.94,733.59,842.66,922.50,969.33,"1,053.93",802.59,"1,081.05","1,128.74",...,"1,641.50","1,536.81","1,485.23","1,589.09","1,557.67","1,577.00","1,540.33","1,510.51","1,486.37",DZA
35,Angola,13.30,12.81,10.90,15.18,49.90,102.83,116.14,142.88,165.96,...,"1,670.40","1,734.06","1,737.85","1,701.37","1,795.65","1,744.84","1,671.36","1,519.23","1,417.29",AGO
36,Chad,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,113.70,100.82,90.64,88.80,110.61,116.52,98.41,115.51,126.88,TCD
37,Republic of Congo,1.38,1.20,0.97,0.83,0.47,0.37,0.27,6.50,40.56,...,300.56,279.97,242.55,253.18,234.21,232.01,269.73,330.47,339.00,NaN
38,Egypt,126.01,121.71,108.56,166.38,239.16,319.09,290.85,207.96,164.93,...,714.34,715.30,709.81,714.45,726.25,691.39,660.20,699.21,685.89,EGY
39,Equatorial Guinea,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,300.64,319.73,282.14,284.40,259.73,223.08,195.28,190.34,180.19,GNQ
40,Gabon,25.33,28.98,68.99,92.69,100.68,108.61,116.06,125.89,152.15,...,236.28,221.15,213.40,210.91,213.54,220.66,210.07,193.45,218,GAB
41,Libya,1220,"1,508.00","1,733.00","2,599.00","3,108.00",3357,"2,750.00","2,248.00",2211,...,516.03,"1,538.53","1,047.84",517.73,436.64,411.78,928.95,"1,165.21","1,227.47",LBY
42,Nigeria,274.20,417.60,319.10,141.30,540.30,"1,083.10","1,531.20","1,815.70","2,054.30",...,"2,461.28","2,411.57","2,278.70","2,276.01","2,201.41","1,899.91","1,969.41","2,006.55","2,109.07",NGA
43,South Sudan,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,n/a,31.04,99.73,155.35,147.74,117.13,122.20,127.65,138.71,SSD
44,Sudan,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,291.00,103.11,117.85,119.60,109.06,103.61,94.62,100.04,102.22,SDN
45,Tunisia,n/a,16.24,47.21,67.05,78.10,87.46,86.57,83.56,81.70,...,76.56,82.15,76.25,71.02,63.63,59.72,48.09,50.18,50.18,TUN
46,Other Africa,2.14,2.14,2.06,1.84,1.20,0.91,0.48,0.58,0.87,...,197.95,196.00,225.38,234.05,272.62,254.89,300.20,299.81,317.27,NaN
47,Australia,7,9,21.00,39,45,176.00,315,337,424,...,482.57,478.63,406.88,435.85,384.28,361.06,348.14,355.73,490.49,AUS
48,Brunei,80.00,96.00,104.00,122,124,136.00,129.00,182.00,231.00,...,165.36,159.03,135.16,126.42,126.75,120.91,113.17,111.50,121.29,BRN
49,China,227.13,292.20,278.74,320.24,436.59,615.52,791.44,914.65,"1,076.61",...,"4,074.18","4,155.23","4,216.44","4,245.96","4,308.84","3,999.16","3,845.86","3,797.66","3,835.98",CHN
50,India,62.34,95.87,116.91,120.42,138.70,140.47,148.23,151.69,148.50,...,936.79,925.71,925.89,905.39,893.46,873.92,884.66,869.33,826.42,IND
51,Indonesia,486.00,474.00,510,599,642.00,854.00,892,"1,081.00",1338,...,952.28,917.01,882.98,847.04,837.65,875.75,837.97,808.48,781.38,IDN
52,Malaysia,1,1,1,4,9,18,69,93,91,...,659.34,662.63,627.02,648.82,696.32,726.09,718.09,707.18,650.51,MYS
53,Thailand,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,429.01,470.76,465.58,463.90,480.67,488.54,486.34,477.58,477.07,THA
54,Vietnam,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,n/a,...,315.77,346.72,346.47,325.05,351.57,317.36,284.37,256.67,236.44,VNM
55,Other Asia Pacific,35.11,34.09,31.09,35.11,36.43,39.51,42.42,44.30,47.06,...,302.32,291.34,274.44,296.43,297.78,280.65,273.02,233.34,230.24,NaN

## Try to flatten the dataframe so each year is it's own row

In [18]:
dfcons_finalmelted = dfcons_final.melt(["country_code","country"], var_name = "year", value_name = "consumption")
dfprod_finalmelted = dfprod_final.melt(["country_code","country"], var_name = "year", value_name = "production")

## Write the dataframe to our Postgres Database

In [19]:
engine = countries_db.engine
dfcons_finalmelted.to_sql('bp_national_consumption',engine, if_exists='replace')
dfprod_finalmelted.to_sql('bp_national_production',engine, if_exists='replace')